<div class="login-page">

<div class="login-grid">

<h1>Sign Up</h1>

<%= form_for @user do |f| %>

  <% if @user.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <table align= "center">
  <tr>
    <td align="left"><%= f.label :email %><td/>
    <td><%= f.text_field :email,  :size =>"15"%><td/>
  </tr>

  <tr>
    <td align="left"><%= f.label :password %><td/>
    <td><%= f.password_field :password, :size => "15"%><td/>
  </tr>

  <tr>
    <td align="left"><%= f.label :password_confirmation %><td/>
    <td><%= f.password_field :password_confirmation,  :size => "15"%><td/>
  </tr>

  </table>

  <%= f.submit "Submit", :class => "button" %>
  <%= link_to "Cancel", new_session_path, :class => "button" %>
<% end %>

